{% extends 'new_base.html' %}



{% block content %}

<!-- Wrapper -->
<div id="wrapper" class="mm-page mm-slideout">


<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Current Affairs</h2>
				<span>Keep up to date with the latest news</span>

			</div>
		</div>
	</div>
</div>


    {% for currentaffair in currentaffairs %}

        <div class="listing-item compact">

        <a href="{{ currentaffair.file.url }}" class="listing-img-container">

            <div class="listing-badges">
                <span class="featured">{{ currentaffair.month }}</span>
                <span>{{ currentaffair.year }}</span>
            </div>

            <div class="listing-img-content">
                <span class="listing-compact-title">{{ currentaffair.title }}</span>

                <ul class="listing-hidden-content">
                    <li> <a href="{{ currentaffair.file.url }}" download> Download </a></li>

                </ul>
            </div>

            <img src="{{ library.main_image.url }}" alt="">
        </a>

        </div>
    {% endfor %}








</div>
<!-- Wrapper / End -->

<div id="mm-blocker" class="mm-slideout"></div>
{% endblock content %}
