{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Library Listing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta content="" name="keywords">
    <meta content="" name="description">
    
    <!-- Favicon -->   
    <link href="{% static 'images/logo.png' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css'%}">

	{% block extra_stylesheet %}
	{% endblock extra_stylesheet %}

</head>


<body>

    <div id="wrapper" class="mm-page mm-slideout">
	{% include "navbar.html" %}

    {% comment %}
    <!-- Messages -->   
	{% if messages %}
	<div class="">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
	{% endif %}
    <!-- EndMessages --> 

    {% endcomment %}
    <!-- Wrapper -->

    {% block content %}
    {% endblock content %}

    {% block extra_body %}
    {% endblock extra_body %}
  
    {% include "footer.html" %}
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

        </div>
    <!-- Wrapper -->
    {% include "scripts.html" %}
  
    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>
</html>