{% extends 'base.html' %}
{% load static %}


{% block content %}

    <!-- Wrapper -->
<div id="wrapper" class="mm-page mm-slideout">


<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Comparing Libraries</h2>

			</div>
		</div>
	</div>
</div>



<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<!-- Compare List -->
			<div class="compare-list-container">
				<ul id="compare-list">

					<li class="compare-list-properties">
						<div class="blank-div"></div>
						<div>
							<a href="#">
								<div class="clp-img">
									<img src="images/listing-01.jpg" alt="">
									<span class="remove-from-compare"><i class="fa fa-close"></i></span>
								</div>

								<div class="clp-title">
									<h4>Eagle Apartments</h4>
									<span>$275,000</span>
								</div>
							</a>
						</div>

						<div>
							<a href="#">
								<div class="clp-img">
									<img src="images/listing-04.jpg" alt="">
									<span class="remove-from-compare"><i class="fa fa-close"></i></span>
								</div>
								<div class="clp-title">
									<h4>Selway Apartments</h4>
									<span>$420,000</span>
								</div>
							</a>
						</div>

						<div>
							<a href="#">
								<div class="clp-img">
									<img src="images/listing-05.jpg" alt="">
									<span class="remove-from-compare"><i class="fa fa-close"></i></span>
								</div>
								<div class="clp-title">
									<h4>Oak Tree Villas</h4>
									<span>$535,000</span>
								</div>
							</a>
					</div></li>

					<li>
						<div>Area</div>
						<div>1450 sq ft</div>
						<div>1220 sq ft</div>
						<div>1780 sq ft</div>
					</li>

					<li>
						<div>Rooms</div>
						<div>3</div>
						<div>3</div>
						<div>4</div>
					</li>

					<li>
						<div>Bedrooms</div>
						<div>1</div>
						<div>2</div>
						<div>2</div>
					</li>

					<li>
						<div>Bathrooms</div>
						<div>1</div>
						<div>1</div>
						<div>2</div>
					</li>

					<li>
						<div>Air Conditioning</div>
						<div><span class="available"></span></div>
						<div><span class="available"></span></div>
						<div><span class="available"></span></div>
					</li>

					<li>
						<div>Swimming Pool</div>
						<div><span class="not-available"></span></div>
						<div><span class="not-available"></span></div>
						<div><span class="available"></span></div>
					</li>

					<li>
						<div>Laundry Room</div>
						<div><span class="available"></span></div>
						<div><span class="available"></span></div>
						<div><span class="available"></span></div>
					</li>

					<li>
						<div>Window Covering</div>
						<div><span class="not-available"></span></div>
						<div><span class="available"></span></div>
						<div><span class="not-available"></span></div>
					</li>

					<li>
						<div>Gym</div>
						<div><span class="available"></span></div>
						<div><span class="not-available"></span></div>
						<div><span class="not-available"></span></div>
					</li>

					<li>
						<div>Internet</div>
						<div><span class="available"></span></div>
						<div><span class="available"></span></div>
						<div><span class="available"></span></div>
					</li>

					<li>
						<div>Alarm</div>
						<div><span class="not-available"></span></div>
						<div><span class="available"></span></div>
						<div><span class="not-available"></span></div>
					</li>


					<li>
						<div>Building Age</div>
						<div>0 - 1 Year</div>
						<div>2 - 5 Years</div>
						<div>2 - 5 Years</div>
					</li>

					<li>
						<div>Heating</div>
						<div>Forced Air</div>
						<div>Gas</div>
						<div>Forced Air</div>
					</li>

					<li>
						<div>Parking</div>
						<div>Attached Garage</div>
						<div><span class="not-available"></span></div>
						<div><span class="not-available"></span></div>
					</li>
					<li>
						<div>Sewer</div>
						<div>Public</div>
						<div>Public</div>
						<div>Public</div>
					</li>

				</ul>
			</div>
			<!-- Compare List / End -->

		</div>
	</div>
</div>


</div>
<!-- Wrapper / End -->



<div id="mm-blocker" class="mm-slideout"></div>

{% endblock content %}