{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>F.A.Q.</h2>


			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="row">

		<div class="col-md-10">
{#			<h4 class="headline margin-top-0 margin-bottom-20">FAQs</h4>#}

			<!-- Toggles Container -->
			<div class="style-2">
                {% for faq in faqs %}
				<!-- Toggle 1 -->
				<div class="toggle-wrap">
					<span class="trigger "><a href="#">{{ forloop.counter }}. {{ faq.question }}<i class="sl sl-icon-plus"></i></a></span>
					<div class="toggle-container" style="display: none;">
						<p>
							{{ faq.get_short_content }}


							{% if faq.if_short_content == 'True' %}
                                <a href="{% url 'core:faqdetail' faq.id %}">
                                    &nbsp; Read More ...
                                </a>
                            {% endif %}
                        </p>

					</div>
				</div>
                {% endfor %}

			</div>
			<!-- Toggles Container / End -->
		</div>



</div>
</div>
<!-- Wrapper / End -->



<div id="mm-blocker" class="mm-slideout"></div>
{% endblock content %}