{% extends 'base.html' %}
{% load static %}


{% block content %}

    <!-- Banner -->
    <div class="parallax" data-background="{% static 'images/MAIN_image.webp' %}" data-color="#36383e" data-color-opacity="0.5" data-img-width="2500" data-img-height="1600">

        <div class="container">
            <div class="row">

                <div class="col-md-12">


                    <div class="search-container">

                        <!-- Form -->
                        <h2>Find New Library</h2>

                        <!-- Row With Forms -->
                        <div class="row with-forms">

                            <form action="{% url 'core:libraries' %}">

                             <div class="col-md-4" style="margin-bottom: 70px">

                                    <div class="main-search-input">
                                        <input type="search" placeholder="Enter city" aria-label="City" name='city' value="{{ city }}" id = "city" />
                                    </div>
                            </div>

                            <!-- Main Search Input -->
                            <div class="col-md-7">

                                    <div class="main-search-input">
                                        <input type="search" placeholder="Search Using a Key Word" aria-label="Search" name='search' value="{{search_term}}"  />
                                        <button type = "submit" class="button"><i class="fa fa-search"></i></button>
                                    </div>
                            </div>
                               </form>



                            </div>


                        <!-- Row With Forms / End -->

                        <!-- Browse Jobs -->
                        <div class="adv-search-btn">
                            Need more search options? <a href="{% url 'core:libraries' %}">Advanced Search</a>
                        </div>

                        <!-- Announce -->
                        <div class="announce">
                            We’ve 1000+ Libraries for you!
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Content
    ================================================== -->
    <!-- Fullwidth Section -->
    <section class="fullwidth border-bottom margin-top-0 margin-bottom-0 padding-top-50 padding-bottom-50" data-background-color="#ffffff">

        <!-- Content -->
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <!-- Icon Box -->
                    <div class="icon-box-1 alternative">

                        <div class="icon-container">
                            <i class="fas fa-search"></i>
                        </div>

                        <h3>Library Finder</h3>
                        <p>Displays all the libraries in India to ease down the work of the students .</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Icon Box -->

                    <div class="icon-box-1 alternative">

                        <div class="icon-container">
                           <i class="fas fa-book-reader"></i>
                        </div>

                        <h3>Libraries</h3>
                        <p>Expecting more than 1000 libraries will join us each year. We help students find an ideal place to study.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Icon Box -->
                    <div class="icon-box-1 alternative">

                        <div class="icon-container">
                           <i class="fas fa-wifi"></i>
                        </div>

                        <h3>Library Amenities</h3>
                        <p>Our specialists help you to find best libraries near you as per your requirements and comfort for best results. </p>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- Fullwidth Section / End -->

    <!-- Counters Container -->
    <div class="parallax margin-top-0 margin-bottom-40"
        data-background="images/listings-parallax.jpg"
        data-color="#252529"
        data-color-opacity="0.85"
        data-img-width="800"
        data-img-height="505">

        <!-- Counters -->

        <!-- Counters / End -->

        <!-- Flip banner -->
        <a href="{% url 'core:libraries' %}" class="flip-banner parallax" data-color="#274abb" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
            <div class="flip-banner-content">
                <h2 class="flip-visible">We help students find libraries</h2>
                <h2 class="flip-hidden">Browse Libraries <i class="sl sl-icon-arrow-right"></i></h2>
            </div>
        </a>
        <!-- Flip banner / End -->

    </div>
    <!-- Counters Container / End -->

    <!-- Featured -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline margin-bottom-25 margin-top-65">Featured</h3>
            </div>

            <!-- Carousel -->
            <div class="col-md-12">
                <div class="carousel">

                {% for library in libraries %}
                    {% if library.visible and library.verified %}
                    <!-- Listing Item -->
                    <div class="carousel-item">
                        <div class="listing-item compact">

                            <a href="{% url 'core:library' library.id %}" class="listing-img-container">

                                <div class="listing-badges">
                                    <span class="featured">Featured</span>
                                    <span>Library</span>
                                </div>

                                <div class="listing-img-content">
                                    <span class="listing-compact-title">{{ library.name }}</span>

                                    <ul class="listing-hidden-content">
                                        <li>Zipcode <span>{{ library.pincode }}</span></li>

                                        <li>State <span>{{ library.state }}</span></li>
                                        <li>No of Seats <span>{{ library.no_of_seats }}</span></li>

                                    </ul>
                                </div>

                                <img src="{{ library.main_image.url }}" alt="">
                            </a>

                        </div>
                    </div>
                    <!-- Listing Item / End -->
                    {% endif %}
                {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Featured / End -->

<!-- Fullwidth Section -->
    <section class="fullwidth margin-top-105" data-background-color="#f7f7f7">

        <!-- Box Headline -->
        <h3 class="headline-box">What are you looking for?</h3>

        <!-- Content -->
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box -->
                    <div class="icon-box-1">

                        <div class="icon-container">
                           <i class="fas fa-book"></i>
                            <div class="icon-links">
                                <a href="#">To Join</a>
                            </div>
                        </div>

                        <h3>Libraries</h3>
                        <p>We help students find libraries nearby to make their studies smooth and comfortable</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box -->
                    <div class="icon-box-1">

                        <div class="icon-container">
                             <i class="fas fa-blog"></i>
                            <div class="icon-links">
                                <a href="">To Join</a>
                                
                            </div>
                        </div>

                        <h3>Blogs</h3>
                        <p>View our latest blogs from our website to know more about us.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box -->
                    <div class="icon-box-1">

                        <div class="icon-container">
                           <i class="fas fa-newspaper"></i>
                            <div class="icon-links">
                                <a href="">To View</a>
                               
                            </div>
                        </div>

                        <h3>Current Affairs</h3>
                        <p>Keeps you up to date with the latest news.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Icon Box -->
                    <div class="icon-box-1">

                        <div class="icon-container">
                           <i class="fas fa-pen-fancy"></i>
                            <div class="icon-links">
                                <a href="">Popular</a>
                                
                            </div>
                        </div>

                        <h3>Previous Year Q/A</h3>
                        <p>Get access to previous year question papers on our website for regular practice.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Fullwidth Section / End -->

    <!-- Parallax -->
    <div class="parallax margin-bottom-70"
        data-background="{% static 'images/image-intro.jpg' %}"
        data-color="#36383e"
        data-color-opacity="0.7"
        data-img-width="800"
        data-img-height="505">

        <!-- Infobox -->
        <div class="text-content white-font">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-sm-8">
                        <h2>It's your journey to a better future. We're here to help you.</h2>
                        <p>We’re full-service, agents who know how to find appropriate libraries for you. We use online tools with an unmatched search capability to make you smarter and faster.We help you find libraraies near you to make your studies comfotable. We provide you,all the information for the libraries,their amenities seating arrangements and all other facilities.  </p>
                        <a href="#" class="button margin-top-25">Get Started</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- Infobox / End -->

    </div>
    <!-- Parallax / End -->


    <!-- Container -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-bottom-35 margin-top-10">Most Popular Libraries<span>Seating in most popular libraries</span></h3>
            </div>

            <div class="col-md-4">

                <!-- Image Box -->
                <a href="{% url 'core:libraries' %}?city=gurgaon" class="img-box" data-background-image="{% static 'images/national.jpg' %}">

                    <!-- Badge -->
                    <div class="listing-badges">
                        <span class="featured">Featured</span>
                    </div>

                    <div class="img-box-content visible">
                        <h4>National Library of India</h4>
                        <span>1000 Seats</span>
                    </div>
                </a>

            </div>

            <div class="col-md-8">

                <!-- Image Box -->
                <a href="{% url 'core:libraries' %}?city=noida" class="img-box" data-background-image="{% static 'images/delhipublic.jpg' %}">
                    <div class="img-box-content visible">
                        <h4>Delhi Public Library</h4>
                        <span>500 Seats</span>
                    </div>
                </a>

            </div>

            <div class="col-md-8">

                <!-- Image Box -->
                <a href="{% url 'core:libraries' %}?city=mumbai" class="img-box" data-background-image="{% static 'images/saraswati.jpg' %}">
                    <div class="img-box-content visible">
                        <h4>Saraswati Mahal Library</h4>
                        <span> 450 Seats</span>
                    </div>
                </a>

            </div>

            <div class="col-md-4">

                <!-- Image Box -->
                <a href="{% url 'core:libraries' %}?city=delhi" class="img-box" data-background-image="{% static 'images/anna.jpg' %}">
                    <div class="img-box-content visible">
                        <h4>Anna Centenary Library</h4>
                        <span>350 Seats</span>
                    </div>
                </a>

            </div>

        </div>
    </div>
    <!-- Container / End -->


    <!-- Fullwidth Section -->
    <section class="fullwidth margin-top-95 margin-bottom-0">

        <!-- Box Headline -->
        <h3 class="headline-box">Latest from Blog</h3>

        <div class="container">
            <div class="row">
            {% for post in blogposts %}
                <div class="col-md-4">

                    <!-- Blog Post -->
                    <div class="blog-post">

                        <!-- Img -->
                        <a href="{% url 'blog:post' post.id %}" class="post-img">
                            <img src="{{ post.main_image.url }}" alt="">
                        </a>

                        <!-- Content -->
                        <div class="post-content">
                            <h3><a href="#">{{ post.title }}</a></h3>
                            <p>{{ post.get_shortest_content }}</p>

                            <a href="{% url 'blog:post' post.id %}" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                    <!-- Blog Post / End -->

                </div>

                {% endfor %}

            </div>
        </div>
    </section>
    <!-- Fullwidth Section / End -->


    <!-- Flip banner -->
    <form href="#" class="flip-banner parallax" data-background="images/flip-banner-bg.jpg" data-color="#274abb" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
        <div class="flip-banner-content">
            <h2 class="flip-visible">Subscribe to our Newsletter</h2>
            <h2 class="flip-hidden">
                <div class="col-md-8" style="align-items: center">
                    <div class="main-search-input" style="margin-left: 240px">
                        <input type="email" placeholder="Enter your email" aria-label="Email" name='Email'   />
                        <button type = "submit" class="button">Submit</button>
                    </div>
                </div>
            </h2>
        </div>
    </form>
    <!-- Flip banner / End -->

    <!-- Fullwidth Section -->
    <section class="fullwidth margin-top-105 margin-bottom-0 padding-bottom-80 padding-top-95" data-background-color="#f7f7f7">

        <!-- Box Headline -->
        <h3 class="headline-box">What Our Students Say</h3>

        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="testimonials-subtitle">We collect reviews from our Students so you can get an honest opinion of what a Library is really like!</div>
                </div>

                {% for testimonial in testimonials %}
                <div class="col-md-4">
                    <div class="testimonial-box">
                        <div class="testimonial">{{ testimonial.description }}</div>
                        <div class="testimonial-author">
                            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="">
                            <h4>{{ testimonial.name }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </section>
    <!-- Fullwidth Section / End -->
<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}
</script>

     <script>
    function initMap() {
      var input = document.getElementById('city');
      var autocomplete = new google.maps.places.Autocomplete(input);
    }
  </script>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF9FYfy-m0MhK7Q0H7zkauL0y8AuIRAOE&libraries=places&callback=initMap" async defer></script>

{% endblock content %}