{% extends 'base.html' %}
{%  load static %}

{% block content %}

<!-- Wrapper -->
<div id="wrapper" class="mm-page mm-slideout">

<!-- Titlebar
================================================== -->
<div class="parallax titlebar"
	data-background="images/listings-parallax.jpg"
	data-color="#333333"
	data-color-opacity="0.7"
	data-img-width="800"
	data-img-height="505">

	<div id="titlebar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<h2>Listings</h2>
					<span>We find the best libraries near you</span>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row sticky-wrapper">

		<div class="col-md-8">

            <!-- Row With Forms -->
            <div class="row with-forms">
                 <form action="{% url 'core:libraries' %}">
                 <div class="col-md-4">
                        <div class="main-search-input">
                            <input type="search" placeholder="Enter city" aria-label="City" name='city' value="{{ city }}" id = "city" />
                        </div>
                </div>

                <!-- Main Search Input -->
                <div class="col-md-8">
                        <div class="main-search-input">
                            <input type="search" placeholder="Search Using a Key Word" aria-label="Search" name='search' value="{{search_term}}"  />
                            <button type = "submit" class="button"><i class="fa fa-search"></i></button>
                        </div>
                </div>
                </form>
            </div>
            <!-- Row With Forms / End -->



			<!-- Sorting / Layout Switcher -->
			<div class="row margin-bottom-15">

				<div class="col-md-6">
					<!-- Sort by -->
					<div class="sort-by">
						<label>Sort by:</label>

						<div class="sort-by-select">
							<select data-placeholder="Default order" class="chosen-select-no-single" >
								<option> Default Order</option>
								<option><a href="?Order=low_to_high">Price Low to High</a></option>
                                <option><a href="?Order=high_to_low">Price High to Low</a></option>
                                <option><a href="?Order=nearest">Nearest Libraries</a></option>
							</select>
						</div>
					</div>
				</div>
            </div>


			<!-- Listings -->
			<div class="listings-container list-layout">
                {% for library in libraries %}
                    {% if library.verified and library.visible %}
				<!-- Listing Item -->
				<div class="listing-item">

					<a href="{% url 'core:library' library.id %}" class="listing-img-container">

                        {% comment %}
						<div class="listing-badges">
							<span class="featured">Featured</span>
							<span>For Sale</span>
						</div>
						{% endcomment %}

						<div class="listing-img-content">

							<span class="listing-price">₹ {{ library.min_price_range }} - {{ library.msx_price_range }}<i>₹ {{ min_monthly_charges }}</i></span>

                            

						</div>

						<div class="listing-carousel">
							<div><img src="{{ library.main_image.url }}" alt=""></div>
						</div>
					</a>

					<div class="listing-content">

						<div class="listing-title">
							<h4><a href="{% url 'core:library' library.id %}">{{ library.name }}</a></h4>
							<a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
								<i class="fa fa-map-marker"></i>
								{{ library.addr1 }}, {{ library.addr2 }}
							</a>

							<a href="{% url 'core:library' library.id %}" class="details button border">Details</a>
						</div>

						<ul class="listing-details">
							<li>City - {{ library.city }}</li>
							<li>State - {{ library.state }}</li>
							<li>{{ library.no_of_seats }} Seats</li>
						</ul>

						<div class="listing-footer">
							<a href="#"><i class="fa fa-user"></i> {{ library.owner_fname }} {{ library.owner_lname }}</a>
							{% comment %}<span><i class="fa fa-calendar-o"></i> 1 day ago</span>{% endcomment %}
						</div>

					</div>

				</div>
				<!-- Listing Item / End -->

{% endif %}
				{% endfor %}

			</div>
			<!-- Listings Container / End -->

            {% if libraries.has_other_pages %}
			<!-- Pagination -->
			<div class="pagination-container margin-top-20">
				<nav class="pagination">
					<ul>
                        <li><a href="" class="current-page">{{ libraries.number }}</a></li>
						<li class="blank">...</li>
						<li><a href="?page={{ libraries.paginator.num_pages }}">{{ libraries.paginator.num_pages }}</a></li>
					</ul>
				</nav>

				<nav class="pagination-next-prev">
					<ul>
                        {% if libraries.has_previous %}
						<li><a href="?page={{ libraries.previous_page_number }}" class="prev">Previous</a></li>
                        {% endif %}
                        {% if libraries.has_next %}
						<li><a href="?page={{ libraries.next_page_number }}" class="next">Next</a></li>
                        {% endif %}
					</ul>
				</nav>
			</div>
			<!-- Pagination / End -->
        {% endif %}

		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-md-4">
			<div class="sidebar sticky right">

				<!-- Widget -->
				<div class="widget margin-bottom-40">
					<h3 class="margin-top-0 margin-bottom-35">Find New Home</h3>

                    {% comment %}
					<!-- Row -->
					<div class="row with-forms">
						<!-- Status -->
						<div class="col-md-12">
							<select data-placeholder="Any Status" class="chosen-select-no-single" >
								<option>Any Status</option>
								<option>For Sale</option>
								<option>For Rent</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Type -->
						<div class="col-md-12">
							<select data-placeholder="Any Type" class="chosen-select-no-single" >
								<option>Any Type</option>
								<option>Apartments</option>
								<option>Houses</option>
								<option>Commercial</option>
								<option>Garages</option>
								<option>Lots</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- States -->
						<div class="col-md-12">
							<select data-placeholder="All States" class="chosen-select" >
								<option>All States</option>
								<option>Alabama</option>
								<option>Alaska</option>
								<option>Arizona</option>
								<option>Arkansas</option>
								<option>California</option>
								<option>Colorado</option>
								<option>Connecticut</option>
								<option>Delaware</option>
								<option>Florida</option>
								<option>Georgia</option>
								<option>Hawaii</option>
								<option>Idaho</option>
								<option>Illinois</option>
								<option>Indiana</option>
								<option>Iowa</option>
								<option>Kansas</option>
								<option>Kentucky</option>
								<option>Louisiana</option>
								<option>Maine</option>
								<option>Maryland</option>
								<option>Massachusetts</option>
								<option>Michigan</option>
								<option>Minnesota</option>
								<option>Mississippi</option>
								<option>Missouri</option>
								<option>Montana</option>
								<option>Nebraska</option>
								<option>Nevada</option>
								<option>New Hampshire</option>
								<option>New Jersey</option>
								<option>New Mexico</option>
								<option>New York</option>
								<option>North Carolina</option>
								<option>North Dakota</option>
								<option>Ohio</option>
								<option>Oklahoma</option>
								<option>Oregon</option>
								<option>Pennsylvania</option>
								<option>Rhode Island</option>
								<option>South Carolina</option>
								<option>South Dakota</option>
								<option>Tennessee</option>
								<option>Texas</option>
								<option>Utah</option>
								<option>Vermont</option>
								<option>Virginia</option>
								<option>Washington</option>
								<option>West Virginia</option>
								<option>Wisconsin</option>
								<option>Wyoming</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Cities -->
						<div class="col-md-12">
							<select data-placeholder="All Cities" class="chosen-select" >
								<option>All Cities</option>
								<option>New York</option>
								<option>Los Angeles</option>
								<option>Chicago</option>
								<option>Brooklyn</option>
								<option>Queens</option>
								<option>Houston</option>
								<option>Manhattan</option>
								<option>Philadelphia</option>
								<option>Phoenix</option>
								<option>San Antonio</option>
								<option>Bronx</option>
								<option>San Diego</option>
								<option>Dallas</option>
								<option>San Jose</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">

						<!-- Min Area -->
						<div class="col-md-6">
							<select data-placeholder="Beds" class="chosen-select-no-single" >
								<option label="blank"></option>
								<option>Beds (Any)</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>

						<!-- Max Area -->
						<div class="col-md-6">
							<select data-placeholder="Baths" class="chosen-select-no-single" >
								<option label="blank"></option>
								<option>Baths (Any)</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>

					</div>
					<!-- Row / End -->

					<br>

					<!-- Area Range -->
					<div class="range-slider">
						<label>Area Range</label>
						<div id="area-range" data-min="0" data-max="100" data-unit="No of Seats"></div>
						<div class="clearfix"></div>
					</div>
                    {% endcomment %}
					<br>

					<!-- Price Range -->
					<div class="range-slider">
						<label>No of Seats Available</label>
						<div id="price-range" data-min="0" data-max="100" data-unit=""></div>
						<div class="clearfix"></div>
					</div>

					<!-- More Search Options -->
					<a href="#" class="more-search-options-trigger margin-bottom-10 margin-top-30" data-open-title="Amenities" data-close-title="Amenities"></a>

					<div class="more-search-options relative">

						<!-- Checkboxes -->
						<div class="checkboxes one-in-row margin-bottom-10">
                            {% for amenity in amenities %}
							<input id="check-2" type="checkbox" name="check" value="{{ amenity.title }}">
							<label for="check-2">{{ amenity.title }}</label>
                            {% endfor %}
						</div>
						<!-- Checkboxes / End -->

					</div>
					<!-- More Search Options / End -->

					<button class="button fullwidth margin-top-30">Search</button>


				</div>
				<!-- Widget / End -->

			</div>
		</div>
		<!-- Sidebar / End -->
	</div>
</div>



</div>
<!-- Wrapper / End -->



{% endblock content %}