{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Container / Start -->
<div class="container" style="margin-top: 100px; margin-bottom: 100px">

	<div class="row">

		<!-- Contact Details -->
		<div class="col-md-4">

			<h4 class="headline margin-bottom-30">Find Us There</h4>

			<!-- Contact Details -->
			<div class="sidebar-textbox">
				<p>Power2create Grievance Officer shall undertake all reasonable efforts to address your grievances at the earliest possible opportunity. You may contact it at:

<br>Grievance Officer: Konark Kumar
<br>Address: 12b 2nd Floor, Ram Durga building, Jawahar nagar, Malka Ganj Chowk, Delhi – 110007, Delhi, India.



<br>Reach out to us on Info@power2create.in, in case of any queries.</p>

				<ul class="contact-details">
					<li><i class="im im-icon-Phone-2"></i> <strong>Phone:</strong> <span>8178340031 </span></li>
					<li><i class="im im-icon-Globe"></i> <strong>Web:</strong> <span><a href="#">www.powe2create.com</a></span></li>
					<li><i class="im im-icon-Envelope"></i> <strong>E-Mail:</strong> <span><a href="#">Info@power2create.in</a></span></li>
				</ul>
			</div>

		</div>

		<!-- Contact Form -->
		<div class="col-md-8">

			<section id="contact">
				<h4 class="headline margin-bottom-35"> Report a Bug </h4>

				<div id="contact-message"></div>

					<form method="post" name="contactform" enctype="multipart/form-data">

                    {% csrf_token %}
                        {% for field in bugreportform %}
                            <label>{{ field.label }}</label>
                            <div>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}


					<button class="button margin-top-20 margin-bottom-20" type = "submit">Report Bug</button>

					</form>
			</section>
		</div>
		<!-- Contact Form / End -->

	</div>

</div>
<!-- Container / End -->

{% endblock content %}