{% load static %}

<!-- Scripts
================================================== -->
<script type="text/javascript" src="{%  static 'scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/custom.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/dropzone.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/gmaps_api_v3.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/hoverIntent.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/infobox.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery.counterup.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery.jpanelmenu.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery-migrate-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/maps.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/markerclusterer.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/masonry.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/moment.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/quantityButtons.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/rangeSlider.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/sticky-kit.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/switcher.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/waypoints.min.js' %}"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>


<!-- Bootstrap-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


