{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Container / Start -->
<div class="container" style="margin-top: 100px; margin-bottom: 100px">

	<div class="row">

		<!-- Contact Details -->
		<div class="col-md-4">

			<h4 class="headline margin-bottom-30">Find Us There</h4>

			<!-- Contact Details -->
			<div class="sidebar-textbox">
				<p>Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services.</p>

				<ul class="contact-details">
					<li><i class="im im-icon-Phone-2"></i> <strong>Phone:</strong> <span>8178340031 </span></li>
					<li><i class="im im-icon-Globe"></i> <strong>Web:</strong> <span><a href="#">www.hudaharyana.com</a></span></li>
					<li><i class="im im-icon-Envelope"></i> <strong>E-Mail:</strong> <span><a href="#">181210045@nitcelhi.ac.in</a></span></li>
				</ul>
			</div>

		</div>

		<!-- Contact Form -->
		<div class="col-md-8">

			<section id="contact">
				<h4 class="headline margin-bottom-35">Testimonial Form</h4>

				<div id="contact-message"></div>

					<form method="post" name="contactform">

                    {% csrf_token %}
                        {% for field in testimonialform %}
                            <label>{{ field.label }}</label>
                            <div>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}


					<button class="button margin-top-20 margin-bottom-20" type = "submit">Save</button>

					</form>
			</section>
		</div>
		<!-- Contact Form / End -->

	</div>

</div>
<!-- Container / End -->

{% endblock content %}