{% extends 'base.html' %}
{% load static %}


{% block content %}


    <!-- Wrapper -->
    <div id="wrapper" class="mm-page mm-slideout">


    <!-- Titlebar
    ================================================== -->
    <div class="parallax titlebar"
	data-background="{% static 'images/comp.jpg' %}"
	data-color="#333333"
	data-color-opacity="0.7"
	data-img-width="800"
	data-img-height="505">
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Comparing Libraries</h2>

                </div>
            </div>
        </div>
    </div>

    </div>



    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Compare List -->
                <div class="compare-list-container">
                    <ul id="compare-list">

                        <li class="compare-list-libraries">
                            <div class="blank-div"></div>

                            {% if library1 %}
                            <div>

                                    <div class="clp-img">
                                        <a href="{% url 'core:library' library1.id %}"><img src="{{ library1.main_image.url }}" alt=""></a>
                                        <a href="{% url 'core:removefromcompare' library1.id %}"><span class="remove-from-compare"><i class="fa fa-close"></i></span></a>
                                    </div>

                                    <div class="clp-title">
                                        <h4>{{ library1.name }}</h4>
                                        <span>{{ library1.min_monthly_charges }}</span>
                                    </div>

                            </div>
                            {% endif %}

                            {% if library2 %}
                            <div>
                                <a href="#">
                                    <div class="clp-img">
                                        <a href="{% url 'core:library' library2.id %}"><img src="{{ library2.main_image.url }}" alt=""></a>
                                        <a href="{% url 'core:removefromcompare' library2.id %}"><span class="remove-from-compare"><i class="fa fa-close"></i></span></a>
                                    </div>
                                    <div class="clp-title">
                                        <h4>{{ library2.name }}</h4>
                                        <span>{{ library2.min_monthly_charges }}</span>
                                    </div>
                                </a>
                            </div>
                            {% endif %}

                            {% if library3 %}
                            <div>
                                <a href="#">
                                    <div class="clp-img">
                                        <a href="{% url 'core:library' library3.id %}"><img src="{{ library3.main_image.url }}" alt=""></a>
                                        <a href="{% url 'core:removefromcompare' library3.id %}"><span class="remove-from-compare"><i class="fa fa-close"></i></span></a>
                                    </div>
                                    <div class="clp-title">
                                        <h4>{{ library3.name }}</h4>
                                        <span>{{ library3.min_monthly_charges }}</span>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        </li>

                        <li>
                            <div>No of Seats</div>
                            {% if library1 %}<div>{{ library1.no_of_seats }}</div>{% endif %}
                            {% if library2 %}<div>{{ library2.no_of_seats }}</div>{% endif %}
                            {% if library3 %}<div>{{ library3.no_of_seats }}</div>{% endif %}

                        </li>

                        <li>
                            <div>Opening Time</div>
                            {% if library1 %}<div>{{ library1.opening_time }}</div>{% endif %}
                            {% if library2 %}<div>{{ library2.opening_time }}</div>{% endif %}
                            {% if library3 %}<div>{{ library3.opening_time }}</div>{% endif %}
                        </li>

                        <li>
                            <div>Closing Time</div>
                            {% if library1 %}<div>{{ library1.closing_time }}</div>{% endif %}
                            {% if library2 %}<div>{{ library2.closing_time }}</div>{% endif %}
                            {% if library3 %}<div>{{ library3.closing_time }}</div>{% endif %}
                        </li>

                        <li>
                            <div>Non Refundable Charges</div>
                            {% if library1 %}<div>{{ library1.non_refundable_charges }}</div>{% endif %}
                            {% if library2 %}<div>{{ library2.non_refundable_charges }}</div>{% endif %}
                            {% if library3 %}<div>{{ library3.non_refundable_charges }}</div>{% endif %}
                        </li>

                        {% for ammenity in ammenities %}
                        <li>
                            <div>{{ ammenity.title }}</div>
                            {% if library1 %}<div>{% if ammenity in library1.ammenities.all %}<span class="available"></span>{% else %}<span class="not-available"></span>{% endif %}</div>{% endif %}
                            {% if library2 %}<div>{% if ammenity in library2.ammenities.all %}<span class="available"></span>{% else %}<span class="not-available"></span>{% endif %}</div>{% endif %}
                            {% if library3 %}<div>{% if ammenity in library3.ammenities.all %}<span class="available"></span>{% else %}<span class="not-available"></span>{% endif %}</div>{% endif %}

                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- Compare List / End -->

            </div>
        </div>
    </div>



    </div>
    <!-- Wrapper / End -->



    <div id="mm-blocker" class="mm-slideout"></div>








{% endblock content %}