{% extends 'base.html' %}

{% load static %}

{% block content %}


    <!-- Titlebar================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>My Libraries</h2>
                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">


            {% include 'dashboard/dashboardsidenav.html' %}

            <div class="col-md-8">
                <table class="manage-table responsive-table">

                    <tr>
                        <th><i class="fa fa-file-text"></i> Library</th>
                        <th class="expire-date"><i class="fa fa-calendar"></i> Views</th>
                        <th></th>
                    </tr>

                    {% for library in libraries %}
                    <!-- Item #1 -->
                    <tr>
                        <td class="title-container">
                            <img src="{{ library.main_image.url }}" alt="">
                            <div class="title">
                                <h4><a href="{% url 'core:library' library.id %}">{{ library.name }}</a></h4>
                                <span>{{ library.city }} </span>
                                <span class="table-property-price">Rs {{ library.min_monthly_price }}</span>
                            </div>
                        </td>
                        <td class="expire-date">{{ library.views }}</td>
                        <td class="action">
                            <a href="{% url 'core:editlibrary' library.id %}"><i class="far fa-edit"></i> Edit</a>
                            {% if library.visible %}
                            <a href="{% url 'core:hidelibrary' library.id %}"><i class="fa  fa-eye-slash"></i> Hide</a>
                            {% else %}
                            <a href="{% url 'core:showlibrary' library.id %}"><i class="fa  fa-eye-slash"></i> Show</a>
                            {% endif %}
                            <a href="{% url 'core:deletelibrary' library.id %}" class="delete"><i class="fa fa-remove"></i> Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
                <a href="{% url 'core:addlibrary' %}" class="margin-top-40 button">Submit New Library</a>
            </div>

        </div>
    </div>



{% endblock content %}