{% extends 'new_base.html' %}



{% block content %}

<!-- Wrapper -->
<div id="wrapper" class="mm-page mm-slideout">

<!-- Titlebar
==================================================
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>UPSC Sample Mock Test</h2>


			</div>
		</div>
	</div>
</div>
-->

<!-- Content
================================================== -->

<!-- Container -->
<div class="container">




    <!-- Test Sections -->
	<div class="row">
		<div class="col-md-12">
        <h4 class="headline margin-top-20 margin-bottom-10">Sample Mock Test</h4>
			<div class="style-1">
				<!-- Section Navigation -->
				<ul class="tabs-nav">
					<li class="active"><a href="#tab1">Section 1</a></li>
					<li><a href="#tab2">Section 2</a></li>
					<li><a href="#tab3">Section 3</a></li>
				</ul>

				<!-- Sections Content -->
				<div class="tabs-container">
                    <!-- Section 1 Content -->
					<div class="tab-content" id="tab1" style="">













				<div class="style-2">
					<!-- Tabs Navigation -->

					<ul class="tabs-nav">
						<li class="active"><a href="#tab1a">1</a></li>
						<li><a href="#tab2a">2</a></li>
						<li><a href="#tab3a">3</a></li>
					</ul>

					<!-- Tabs Content -->
					<div class="tabs-container">
						<div class="tab-content" id="tab1a" style="">
							Lorem ipsum pharetra lorem felis. Aliquam egestas consectetur elementum class aptentea taciti sociosqu ad litora torquent perea conubia nostra lorem consectetur adipiscing elit. Donec vestibulum justo a diam ultricies pellentesque.
						</div>

						<div class="tab-content" id="tab2a" style="display: none;">Aenean dolor mi, luctus et laoreet hendrerit, condimentum faucibus mi. Nam et sem eros. Sed sed eros nec massa pellentesque accumsan in nec magna. Donec sollicitudin enim nec justo mollis bibendum. Nulla eleifend mollis velit. Ut sed risus eget metus egestas sagittis. Etiam vestibulum interdum turpis.</div>

						<div class="tab-content" id="tab3a" style="display: none;">Suspendisse ut laoreet massa. Etiam vel dolor eu quam varius tempor eu eu mi. Duis auctor interdum ligula ut faucibus. Vivamus lorem ipsum dolor sit amet in tincidunt augue. Aenean at ligula justo, sed gravida metus. </div>
					</div>
				</div>


























                    </div>
                    <!-- END Section 1 Content -->


					<div class="tab-content" id="tab2" style="display: none;">Aenean dolor mi, luctus et laoreet hendrerit, condimentum faucibus mi. Nam et sem eros. Sed sed eros nec massa pellentesque accumsan in nec magna. Donec sollicitudin enim nec justo mollis bibendum. Nulla eleifend mollis velit. Ut sed risus eget metus egestas sagittis. Etiam vestibulum interdum turpis.</div>

					<div class="tab-content" id="tab3" style="display: none;">Suspendisse ut laoreet massa. Etiam vel dolor eu quam varius tempor eu eu mi. Duis auctor interdum ligula ut faucibus. Vivamus lorem ipsum dolor sit amet in tincidunt augue. Aenean at ligula justo, sed gravida metus. </div>
				</div>

			</div>

		</div>






    </div>







</div>
<!-- Wrapper / End -->



<div id="mm-blocker" class="mm-slideout"></div>











{% endblock content %}
